@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;

  font-family: "Helvetica Neue", Arial, sans-serif;
}

.rotation {
  animation: rotation 20s linear infinite;
}

/* Header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;

  display: flex;
  align-items: center;

  position: relative;

  overflow: hidden;

  background-color: #f2f2f2;
}

.logo {
  width: 183px;
}

.logo_place_header {
  height: 32px;
  background-image: url(../images/logo_place_header.svg);

  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  margin: 0;
  margin-left: 64px;

  font-size: 102px;
  line-height: 96px;
  font-weight: bold;

  z-index: 2;
}

.header__subtitle {
  width: 388px;
  margin: 0;

  font-size: 18px;
  line-height: 25px;

  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  transition: opacity 0.7s ease;
}

.header__link:hover {
  opacity: 0.5;
}

.header__main-illustration {
  width: 765px;
  height: 608px;

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;

  position: absolute;
  top: 64px;
  right: 0;

  background-color: #2f80ed;
}

/* Description */

.description {
  padding-top: 100px;

  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;

  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  margin: 0;

  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

/* Techniques */

.techniques {
  width: 80%;
  margin: auto;
  padding-top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  width: 920px;
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  gap: 0 100px;
  flex-wrap: wrap;
}

.cards__item {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__image {
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px;

  border-radius: 50%;

  overflow: hidden;
}

.cards__title {
  margin: 0;
  margin-bottom: 16px;

  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
}

.cards__description {
  margin: 0;

  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  text-align: center;
}

/* Video */

.video {
  padding-top: 100px;
  margin-bottom: -60px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__iframes {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

/* Oakley */

.oakley {
  padding-top: 160px;

  display: flex;
  justify-content: center;

  background-color: #f2f2f2;
}

/* Digits */

.digits {
  padding-top: 100px;
  padding-bottom: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  margin: 0;
  margin-bottom: 20px;

  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;

  text-align: center;
}

.section-subtitle {
  width: 60%;
  margin: 0;

  font-size: 24px;
  line-height: 34px;
  font-weight: normal;

  text-align: center;
}

.table {
  width: 1100px;
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0;

  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}

.table__text {
  margin: 20px 0 0;

  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

/* Feynman */

.feynman {
  min-height: 890px;
  padding-top: 100px;

  position: relative;

  box-sizing: border-box;

  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.feynman__title {
  width: 648px;
  margin: auto;
  margin-bottom: 70px;

  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;

  text-align: center;
}

.feynman__subtitle {
  margin: 0;

  font-size: 36px;
  line-height: 51px;
  font-weight: normal;

  text-align: center;
}

.feynman__link {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  color: #2f80ed;

  text-decoration: none;

  position: absolute;
  top: 50%;
  right: 48px;
  transition: opacity 0.7s ease;
}

.feynman__link:hover {
  opacity: 0.5;
}
/* Khan */

.khan {
  padding-top: 105px;

  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin: auto;
}

.khan__author {
  margin: 0;

  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  margin-bottom: 50px;

  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
}

.khan__quote {
  width: 790px;
  margin: 0;
  margin-bottom: 36px;

  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0;
  margin-bottom: 10px;

  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin: 0;
  margin-bottom: 68px;

  font-size: 24px;
  line-height: 1.15;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
  /* align-items: top; */
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 48px;

  background-image: url(../images/khan-book.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.khan__buy-link {
  height: 42px;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  color: #2f80ed;

  text-decoration: none;

  transition: opacity 0.7s ease;
}

.khan__buy-link:hover {
  opacity: 0.5;
}

/* Kaufman */

.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  overflow: hidden;

  background-color: #1f1f1f;
}

.section-title_theme_dark {
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;

  position: absolute;
  top: 0;
  right: -210px;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

/* Resources */

.resources {
  padding-top: 100px;
  padding-bottom: 217px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__logo-zone {
  width: 1100px;
  margin-top: 80px;
  display: flex;
}

.resources__logo {
  width: 270px;
  height: 38px;

  transition: opacity 0.8s ease;
}

.resources__logo:hover {
  opacity: 0.5;
}

/* Footer */

.footer {
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;

  box-sizing: border-box;

  display: flex;
  justify-content: center;

  color: white;
  background-color: #1f1f1f;
}

.footer__columns {
  width: 90%;

  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.logo_place_footer {
  height: 35px;
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  margin: 18px 0;
}

.footer__column-heading {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
  padding: 0;

  list-style: none;
}

.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: white;
  text-decoration: none;

  display: flex;
  align-items: center;
  transition: opacity 0.7s ease;
}

.footer__column-link:hover {
  opacity: 0.5;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
